REST_API_JWT_SECRET="45H7Jjb5j140xpgBDKJ8zYkDdbqvy1zkVJgHed6I2DR7Vs51"
REST_API_REFRESH_SECRET="ZeHSEeXfwTLFvkoV8P1WaLs4Wu0ESZCoF4WVCRBylU3LWM2V"

DIGITAL_OCEAN_ACCESS_KEY="PJ4VEIIB76ERGWTMK5YU"
DIGITAL_OCEAN_SECRET_KEY="+5rS+mZkE/8FqFxceakABwcKVwXQnwLWOTcQSJ91q18"

GOOGLE_API_KEY="6Le5a9gUAAAAAFEDmpv_rTn1GI01_nzkGFPkEd5Y"
GOOGLE_RECAPTCHA_TOKEN="6Le5a9gUAAAAAKVKz_gV4sQEaWkwH6N5Oykosp9N"

REST_API_DB_USERNAME="postgres"
REST_API_DB_PASSWORD="password"
REST_API_DB_URL="jdbc:postgresql://localhost:5432/routerating""
//REST_API_DB_PASSWORD="39AJ}D-YpH\`gG^j,Y5t^"
//REST_API_DB_URL="jdbc:postgresql://rest-api-prod.cr3ycyqjzywv.us-east-2.rds.amazonaws.com/routerating"
