export REST_API_JWT_SECRET="9tB0KJMNb3mozBUNnl7xRxqgKXFmDGDxOYMVGUnEF6zz52tI"
export REST_API_REFRESH_SECRET="laqM1op7bwUCPxowHz35NK5xfhmYNLZLWE92whMqGbAdDwwa"

export DIGITAL_OCEAN_ACCESS_KEY="THIS_IS_OBV_FAKE"
export DIGITAL_OCEAN_SECRET_KEY="THIS_IS_OBV_FAKE_ALSO"

export GOOGLE_RECAPTCHA_TOKEN="CxGMwjc1HIN2XwXsp73A51go3MyrQurkFpJVl9es"

export REST_API_DB_USERNAME="postgres"
export REST_API_DB_PASSWORD="password"
export REST_API_DB_URL="jdbc:postgresql://localhost:5432/routerating"
